 body{
  background-image: url("https://images.unsplash.com/photo-1532793218979-f3365c284b32");
}
.wrapper{
  background-color: grey;
  opacity: 0.8;
  margin: 35px 75px;
  padding: 30px 40px;
  height: 60vh;
}



 




.grey-container{
  /* background-color: rgba(0,0,0,0.3); */
  /* margin: 35px 75px;
  height: 800px; */
  /* padding: 30px 40px; */
  color: white;

}
.input-wrapper{
  margin-top: 20px;
}
.Loader{
  margin-top: 20px;
}
.no-results{
  margin-top: 20px;
  color: red;
}
